.header {
  padding: 40px 0 30px;

  ul {
    margin: 0;
  }

  .header-left {
    display: flex;
    align-items: center;
    width: 70%;


    nav {

      ul {
        display: flex;
        flex-wrap: wrap;


        li {
          width: 30%;

          &:nth-of-type(1), &:nth-of-type(2) {
            margin-bottom: 10px;
          }

          &:nth-of-type(3) {
            padding-left: 30px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .header-right {
    width: 30%;

    nav {

      ul {
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        li {
          text-align: right;
          width: initial;
        }
        li + li {
          margin-left: 25px;
        }
      }
    }
  }

  .header-logo {
    margin-right: 35px;

    img {
      object-fit: contain;
      width: 202px;
      min-width: 202px;
    }
  }

  .header-logo-tablet {
    display: none;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    color: $--color-default;

    &:hover {
      color: $--color-blue;
    }
  }


  .footer-contacts {
    display: flex;
    justify-content: flex-end;

    a {
      font-weight: 600;
      letter-spacing: 0.01em;
      display: flex;
      align-items: center;

      &:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 10px;
      }
    }

    .header-mail {
      margin-right: 34px;
      &:before {
        background-image: url(../img/icons/email.svg);
      }
    }
    .header-phone {

      &:before {
        background-image: url(../img/icons/phone_enabled.svg);
      }
    }
  }
}

@media (max-width: 1024px) {

  .header {
    padding: 40px 0 20px;

    .header-logo-pc {
      display: none;
    }
    .header-logo-tablet {
      display: block;
      padding-bottom: 20px;
    }

    .header-logo-tablet {
      display: inline-flex;
      width: 25%;
      margin-right: 0;
    }

    .header-right {
      display: inline-flex;
      width: 75%;
      padding-bottom: 20px;

      nav {
        width: 85%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        ul {
          margin-bottom: 0;
        }
      }

    }

    .header-left {
      order: 1;
      width: 100%;
      padding-top: 24px;
      border-top: 1px solid $--color-grey;

      nav {
        width: 100%;

        ul {
          justify-content: space-between;
          width: 100%;

          li {
            width: initial;
          }
        }
      }
    }

    .footer-contacts {
      flex-wrap: wrap;

      .header-mail {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

  }
}
