//
// Project Variables
//

/* fonts */
$--font-default: 'Montserrat';


/* colors */
$--color-default: #2F3233;
$--color-grey: #656D6F;
$--color-blue: #1690AF;
$--color-white: #fff;
$--color-blue-light: #52CCEB;
$--color-blue-white: #F0FCFF;
$--color-border-grey: #D9D9D9;
