* {
  font-family: $--font-default;
  line-height: initial;
}

h1, .h1 {
  font-weight: 600;
  font-size: 80px;
  margin-bottom: 5px;

  span {
    color: $--color-blue;
  }
}
h2 ,.h2 {
  color: $--color-default;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 30px;

  span {
    color: $--color-blue;
  }
}
h3, .h3 {
  color: $--color-default;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 50px;

  span {
    color: $--color-blue;
  }
}
h4 .h4 {
  color: $--color-default;
  span {
    color: $--color-blue;
  }
}
h5, .h5 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  color: $--color-default;

  span {
    color: $--color-blue;
  }
}
h6, .h6 {
  color: $--color-default;
  span {
    color: $--color-blue;
  }
}

a {
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}

.link-blue {
  color: $--color-blue;
  font-weight: 600;

  &:hover {
    color: $--color-blue-light;
  }
}

.link-white {
  color: $--color-white;

  &:hover {
    color: $--color-default;
  }
}

p {
  color: $--color-grey;
  font-size: 16px;
  line-height: 19px;
}

ul {
  list-style: none;
  padding-left: 0;
}


@media (max-width: 1023px) {
  h1, .h1 {
    font-size: 50px;
  }
}
