.accordion {
  width: 100%;

  .accordion-item {
    transition: all 0.3s;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 0 rgba(148, 175, 182, 0.21);
    overflow: hidden;

    .accordion-item-header {
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 24px;
      color: $--color-default;
      margin-bottom: 0;
      transition: all ease 0.3s;
      padding: 40px 50px 40px;
      justify-content: space-between;

      &:after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        min-width: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../img/icons/arrow-blue.svg);
      }

    }

    .accordion-item-content {
      overflow: hidden;
      width: 100%;
      transition: height 0.5s ease-in-out;
      height: 0;

      .accordion-content-wrapper {
          padding: 20px 50px 40px;
        p {
          color: $--color-white;
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 22px;
    }
  }

  .accordion-item.active {
    transition: all 2s;
    background: $--color-blue-light;

    .accordion-item-header {
      color: $--color-white;
      padding-bottom: 20px;

      &:after {
        background-image: url(../img/icons/arrow-white.svg);
      }
    }

    .accordion-item-content {
      transition: height 0.5s ease-in-out;
    }
  }

}

@media (max-width: 600px) {
  .accordion .accordion-item .accordion-item-header {
    padding: 34px 50px 34px 20px;
    font-size: 18px;
    position: relative;
    &:after {
      position: absolute;
      right: 24px;
    }
  }
  .accordion .accordion-item .accordion-item-content .accordion-content-wrapper {
    padding: 0 20px 30px;
  }
}
