.callback-section {
  background-color: $--color-blue-white;
  padding: 58px 0 34px;

  &:last-child {
    margin-bottom: 0;
  }

  .h2 {
    max-width: 80%;
  }

  .callback-description {

    p {

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

}


@media (max-width: 1023px) {
  .callback-section {
    padding: 50px 0 43px;

    .callback-description {
      margin-bottom: 37px;

      p {
        display: inline;
      }
    }

    .h2 {
      max-width: 100%;
    }
  }
}

@media (max-width: 600px) {
}
