.footer-navbar {
  display: flex;
  margin: 0 -10px;
  ul {
    width: calc(33.33% + 20px);
    padding: 0 10px;
    margin: 0;

    li {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    &:nth-of-type(1) {
      width: 30%;
    }
    &:nth-of-type(2) {
      width: 40%;
    }
    &:nth-of-type(3) {
      width: 30%;
    }
  }
}

@media (max-width: 1023px) {
  .footer-navbar {
    flex-wrap: wrap;
    padding-left: 45px;
    ul {
      margin-bottom: 20px;
      padding: 0;

      &:nth-of-type(1) {
        width: 50%;
      }
      &:nth-of-type(2) {
        width: 50%;
      }
      &:nth-of-type(3) {
        width: 50%;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer-navbar {
    padding-left: 10px;

    ul {
      margin-bottom: 24px;
    }
  }
}
