.how-work {

  .title-block {
    text-align: center;
  }

  .work-item {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 0 rgba(148, 175, 182, 0.21);
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .work-ico {
      margin-bottom: 45px;
      padding: 50px 40px 0;

      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }

    .h5 {
      margin-bottom: 12px;
      height: 58px;
      padding: 0 23px 0 40px;
    }
    .work-description {
      padding: 0 40px;
    }
    .btn {
      max-width: calc(100% - 80px);
      margin: 0 auto 50px;
    }
  }

}


@media (max-width: 1023px) {
  .how-work {

    .work-item {
      height: initial;
      margin-bottom: 24px;

      .h5 {
        padding: 0;
        height: initial;
        margin-bottom: 15px;
      }

      .work-description {
        padding: 0;
      }

      .work-content {
        padding: 50px 40px 0;
      }

      .work-ico {
        float: left;
        padding: 0;
        margin-right: 20px;
        margin-bottom: 0;
      }

      .btn {
        margin: 30px 0 50px 160px;
        max-width: 290px;
      }
    }
  }
}
