.symptoms-section {

  .title-block {
    text-align: center;
    margin-bottom: 20px;
  }

  .symptom-item {

    .symptom-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      text-align: center;
      color: $--color-default;

    }
    .symptom-ico {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      img {
        width: 48px;
        height: 49px;
        object-fit: contain;
      }
    }
  }
}
