<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/breadcrumbs.html').default)({}) %>

<%= _.template(require('../includes/article-content.html').default)({}) %>

<%= _.template(require('../includes/testimonials-slider.html').default)({}) %>

<%= _.template(require('../includes/treatments.html').default)({}) %>

<%= _.template(require('../includes/related-posts.html').default)({}) %>

<%= _.template(require('../includes/callback.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
