<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/breadcrumbs.html').default)({}) %>

<section class="contacts">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-m-12">
        <div class="contacts-wrapper">
          <div class="contact-item">
            <div class="h5">Business Hours</div>
            <div class="contact-text contact-time">Monday-Thursday 10am –13pm</div>
          </div>
          <div class="contact-item">
            <div class="h5">For communication</div>
            <a href="#" class="contact-text contact-phone">1 500 956 1236</a>
            <a href="#" class="contact-text contact-mail">mail@site.com</a>
            <a href="#" class="contact-text contact-fax">1 500 956 1236</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-lg-6 col-md-6 col-m-12 t-d-none">
        <div class="contact-item contact-item-form">
          <div class="h2">Contact us today to get started!</div>
          <div class="form-description">
            <p>Feel Young Again.</p>
            <p>Reverse Low-T Symptoms With TRT</p>
          </div>
          <div class="form-wrapper">
            <form action="" class="wpcf7">
              <p>
                <label>
                  <input type="text" placeholder="Phone">
                </label>
              </p>
              <p>
                <label>
                  <input type="text" placeholder="Phone">
                </label>
              </p>
              <p>
                <label>
                  <input type="text" placeholder="Phone">
                </label>
              </p>
              <p>
                <label>
                  <input type="text" placeholder="Phone">
                </label>
              </p>
              <p class="form-description">Fill out the form to get more information.</p>
              <p>
                <input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="Submit">
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="contacts-description">
      <p>In 2010, Matthew Laurenzo, CFO and Founding Partner, began his journey in anti-aging medicine with childhood friend Kenneth Figueira, CEO and Founding Partner. Their shared interest in Testosterone Replacement Therapy and men's health led to founding Renew Vitality.</p>
      <p>Initially in New York, the company reached Los Angeles in 2017 and Florida in 2018, showing growth even during the pandemic. Despite obstacles, Renew Vitality thrived, gaining trust and key leaders. It now stands as a leader in redefining men's health, evolving from its modest start.</p>
    </div>
  </div>
</section>

<section class="callback-section pc-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="h2">Contact us today to get started!</div>
        <div class="callback-description">
          <p>Feel Young Again.</p>
          <p>Reverse Low-T Symptoms With TRT</p>
        </div>
      </div>
      <div class="col-lg-6">
        <form action="" class="wpcf7">
          <p>
            <label>
              <input type="text" placeholder="Phone">
            </label>
          </p>
          <p>
            <label>
              <input type="text" placeholder="Phone">
            </label>
          </p>
          <p>
            <label>
              <input type="text" placeholder="Phone">
            </label>
          </p>
          <p>
            <label>
              <input type="text" placeholder="Phone">
            </label>
          </p>
          <p class="form-description">Fill out the form to get more information.</p>
          <p>
            <input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="Submit">
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
